<div class="photo-page hide-sub-nav" spaceid="792600359">
    <div class="contact-title">
    </div>
   
    
    <div class="photo-main">
        <div class="photo_container pc_m" style="width: 310px; height: 480px;">
          <span class="main_photo_overlay"></span>
					<%=  paper_image_tag(@paper) %>
        </div>

        <div class="photo_meta">
        </div>

				<div class="photo_nav">
					<% if prev = @paper.prev %>
							<a href="<%= paper_path(prev) %>" class="prev_photo_div">
								<span class="next_photo_overlay"></span>
								<%=  paper_image_tag(prev, :_size=>:s, :width=>"65") %>
							</a>
					<% end %>
					
					<% if nex = @paper.next %>
							<a href="<%= paper_path(nex) %>" class="next_photo_div">
								<span class="prev_photo_overlay"></span>
								<%=  paper_image_tag(nex, :_size=>:s, :width=>"65") %>
							</a>
					<% end %>
				</div>
    </div>
    
    
</div>

